h1= title
form(method='POST' action='/new')
  label(for='author') Author Name:
  input#author(type='text' name='author')
  label(for='content') Message Text:
  input#content(type='text' name='content')
  input(type='submit' value='Submit')